*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--primary-color);
}
/* Navbar */
header{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: start;
}
.navbar{
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    height: 100vh;
    background-color:var(--third-color);
    justify-content: start;
    text-align: center;
    width: 200px;
    transition: width 0.3s ease;
    color: var(--fourth-color);
}
.container-navbar{
    padding-top: 50px;
}
.container-navbar div{
    padding: 10px 0;
}
.categories-container{
    display: none;
}
.categories,
#menu{
    cursor: pointer;
}
.menu-hidden{
    width: 50px;
}
.elements{
    visibility: visible;
    opacity: 1;
    transition: visibility 0.2s ease-in-out, opacity 0.2s ease;
}
.elements-hidden{
    opacity: 0;
    visibility: hidden;
}
/* body */
.body-app{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin: 50px 0 0 0;
    justify-content: center; 
    color: var(--primary-color);
    font-weight: 500;                         
}


.container-notes{
    width: 70%;
    text-align: center;
    height: 120px;
    display: flex;
    flex-wrap: nowrap;
    border: 2px solid black;
    border-radius: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    overflow: hidden;
    background: var(--third-color);
}
.buttons{
    width: 50px;
    height: 35px;
    border-radius: 5px;
    border: none;
    outline: 1px solid black;
    cursor: pointer;
    transition: transform 0.3s ease;
    background-color: var(--second-color);
}
.buttons:hover{
    transform: scale(1.07);
    background-color: var(--primary-color);
    color: var(--fifth-color);
}
#for-task{
    color: var(--primary-color);
    font-size: x-large;
}
#task{
    width: 40rem;
    height: 2rem;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    background-color: var(--fourth-color);
    color: var(--primary-color);
}
#Add{
    background-color: var(--fourth-color);
}
#Add:hover{
    background-color: var(--primary-color);
}
@media screen and (max-width:700px){
    .navbar{
        width: 100%;
    }
    .menu-hidden{
        width: 50px;
    }
    #task{
        width: 15rem;
    }
}