*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: start;
}
.navbar{
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    height: 100vh;
    background-color: red;
    justify-content: start;
    text-align: center;
}
.container-navbar{
    padding-top: 50px;
}
.container-navbar div{
    padding: 10px 0;
}
.categories-container{
    display: none;
}
.body-app{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 80%;
}
